body{
    background-color:rgb(195, 173, 230);
    text-align: center;
    color:rgb(166, 122, 196);
    font-family:Georgia, 'Times New Roman', Times, serif
}
a{
    color:rgb(78, 155, 101);
    text-decoration:none;
}
a:hover{
    color:rgb(85, 31, 110);
    text-decoration:underline;
}
main{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
h2{
    text-align:center;
}
img{
    width:100%;
}
figure{
    text-align: center;
    font-style:oblique;
}