<nav>

    <a href="https://webpages.charlotte.edu/kturne75/itis3135">Charlotte.edu</a>
    ||
    <a href="https://github.com/Kturne75/Kturne75.github.io">github</a>
    ||
    <a href="https://github.com/Kturne75/Kturne75.github.io/tree/main/itis3135">github.io</a>
    ||
    <a href="https://www.freecodecamp.org/KhamrynRTurner">freecodecamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/KhamrynRTurner">codeacademy</a>
    ||
    <a href="https://www.linkedin.com/in/khamryn/">linkedin</a>
</nav>
<p>Designed by Khamryn Turner, Certified in Responsive Web Design<em><a href="https://www.freecodecamp.org/certification/KhamrynRTurner/responsive-web-design"> Certification</a></em>, <a href="turnerdesigns.co"> Turner Designs </a>&copy; 2025</p> 