<h1> Khamryn Turner Kind Turtle || ITIS 3135</h1>
<nav>
    🦈
    <a href="./">Homepage</a>
    🦈
    <a href="introduction.html">Introduction</a>
    🦈
    <a href="contract.html">Contract</a>
    🦈
    <a href="whimsicalpage/index.html">Whimsical page</a>
    🦈
    <a href="website_evaluations.html">Website evaluations</a>
    🦈
    <a href="hobby/index.html">Hobby</a>
    🦈
    <a href="tables.html">Tables</a>
    🦈
    <a href="drawing.html">Drawing</a>
</nav>
<nav>
    <a href="stuff/sH/ARK.htm"> Crappy Webpage</a>
    ||
    <a href="turnerdesigns.co/index.html">Design Firm</a>
    ||
    <a href="byo_intro.html">BYO Intro</a>
    ||
    <a href="slideshow.html">Slideshow</a>
    ||
    <a href="projects/project_overview.html"> Project Overview</a>
    ||
    <a href="projects/client_project/index.html"> Client Project</a>
    ||
    <a href="review1.html"> Peer Reveiw 1</a>
    ||
    <a href="review2.html"> Peer Reveiw 2</a>
    ||
</nav>